---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div
			class="h-screen w-screen border-4 border-red-900 text-center flex flex-col justify-center items-center space-y-8 px-96"
		>
			<div class="text-4xl">Hi There!</div>
			<div class="text-6xl">I'm Shriram</div>
			<div class="text-4xl">
				A full-stack developer passionate about solving complex
				technical problems through code
			</div>
			<div class="text-4xl">
				I also write fictional stories and blog posts about whatever is
				going on in my life
			</div>
			<!--turn into floating arrow-->
			<div class="text-4xl">v</div>
		</div>
	</body>
</html>
