<div class="flex justify-center sticky top-0">
    <div class="p-3 text-lg bg-gray-200 mx-2 rounded-3xl">ICON</div>
    <div class="p-3 text-lg bg-gray-200 mx-2 rounded-3xl">ICON</div>
    <div class="p-3 text-lg bg-gray-200 mx-2 rounded-3xl">ICON</div>
    <div class="p-3 text-lg bg-gray-200 mx-2 rounded-3xl">ICON</div>
</div>
