<div class="flex border-2 p-4 justify-between sticky top-0">
    <div class="text-xl">Shriram</div>
    <div class="flex">
        <div class="text-xl">Blog</div>
        <div class="text-xl">Resume</div>
        <div class="text-xl">Contact</div>
    </div>
</div>
